@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>PIZZA GOOD</title>
    <link rel="shortcut icon" href="/CustomerAssert/images/420.jpg">


    <!-- Favicon -->
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="~/customerassert/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->

    <link href="~/customerassert/css/bootstrap.css" rel="stylesheet" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Poppins:400,600,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/customerassert/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/customerassert/css/responsive.css" rel="stylesheet" />
    <link href="~/customerassert/css/style.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/Contact.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
</head>

<body>

    <div class="">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">
                        <span>
                           PIZZA GOOD
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                                </li>

                                @if (@Context.Session.GetString("username") != null && @Context.Session.GetString("username") != "admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="AccountsInfor" asp-action="Details"> My Information </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Orders" asp-action="Index"> My Order </a>
                                    </li>

                                }
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Accounts" asp-action="Contact">Contact us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="quote_btn-container ">

                            <a href="cart.html">
                                <img src="https://png.pngtree.com/png-clipart/20191120/original/pngtree-delete-product-cart-icon-png-image_5056154.jpg" alt="shopping cart" style="width: 32px !important">
                            </a>


                            <div class="form-outline">
                                <input type="text" id="myInput" class="form-control" placeholder="Search..." style="width: 132px" />

                            </div>
                            <button type="button" class="btn btn-success" style="margin-right: 12px;">
                                <i class="fas fa-search"></i>
                            </button>



                            @*<form class="form-inline">
                            <input id="myInput" type="text" placeholder="Search..">
                            </form>*@

                            @if (@Context.Session.GetString("username") == null)
                            {
                                <a asp-area="" asp-controller="Accounts" asp-action="Index">
                                    Login |
                                </a>

                                <a asp-area="" asp-controller="Accounts" asp-action="SignUp">
                                    | SignUp
                                </a>

                            }
                            else
                            {
                                <span>Welcome @Context.Session.GetString("username") |</span>
                                <a asp-controller="account" asp-action="logout">| Logout</a>
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
       
    </div>

    @RenderBody()
    <script src="~/customerassert/js/jquery-3.4.1.min.js"></script>
    <script src="~/customerassert/js/bootstrap.js"></script>
    <script src="~/customerassert/js/custom.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myDIV *").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

</body>

</html>